@import "@blak/ui/globals.css";

:root {
  --radius: 0.675rem;
}
@theme inline {
  --font-sans: var(--font-sans);
}

/* @layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    font-family: var(--font-aviano);
  }
} */
